DB_HOST=localhost
DB_PORT=5432
DB_NAME=desercion_db
DB_USER=desercion_user
DB_PASSWORD=desercion_password

JWT_SECRET_KEY=cambia-esta-clave-segura-en-produccion
JWT_EXPIRE_MINUTES=120

PORT=8182
CORS_ORIGINS=http://localhost:3020,http://localhost:5173
