fastapi
uvicorn
pydantic
pydantic[email]
scikit-learn
numpy
pandas
python-multipart
shap
joblib
sqlalchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
email-validator
prometheus-client
